/***********************************************************************************
	Project Name: Educafe / LMS;
	Project Start Date: 16-09-2020;
	Project Submission Date: 19-09-2020;
	Client Name: LEDP-2020-WD-D12;
	Author/Developer name:Sahab Uddin;

	**************************************************************
		Total Page:7;
	**************************************************************
			Home Page
		________________
		Total Section
		1.TopBar;
		2.NavBar;
		3.Slider;
		4.Princilpe;
		5.Courses;
		6.Facts;
		7.Blog;
		8.TESTIMONIAL;
		9.CTA;
		10.Footer;
		_________________
**********************************************************************************/

/**********************************************************************************
					Base CSS Start
**********************************************************************************/
body{
	padding: 0;
	margin: 0;
	font-family: 'Raleway', sans-serif;
}
ul{
	list-style-type: none;
}
a{
	text-decoration: none;
}
/**********************************************************************************
					Base CSS End
**********************************************************************************/
/**********************************************************************************
					Common CSS Start
**********************************************************************************/
.first_color{
	color: #56ab2f !important;
}
.second_color{
	color: #1e1d1d !important;
}
.third_color{
	color: #ffffff !important;
}
.first_bg{
	background-color: #56ab2f !important;
}
.second_bg{
	background-color: #1e1d1d !important;
}
.third_bg{
	background-color: #ffffff !important;
}
.fw600{
	font-weight: 600 !important;
}
.fw700{
	font-weight: 700 !important;
}
.fw800{
	font-weight: 800 !important;
}
.fw900{
	font-weight: 900 !important;
}
.btn{
	border-radius: 0px !important;
}
.primary_btn{
	background-color: #56ab2f !important;
	color: #f1f1f1!important;
}
.secondary_btn{
	border: 1px solid #56ab2f !important;
	color: #56ab2f !important;
}
.secondary_btn:hover{
	background-color: #56ab2f !important;
	color: #f1f1f1!important;
}
.c-font{
	font-family: 'Roboto Slab', serif;
}
/**********************************************************************************
					Common CSS End
**********************************************************************************/

/*********************************************************************************
					Owl Css
**********************************************************************************/
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev{
	position: absolute;
	top: 45%;
	font-size: 45px;
	font-weight: 300;
 }
.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover{
	background: none;
	color: #56ab2f;
}
 .owl-carousel .owl-nav button.owl-next:focus,
.owl-carousel .owl-nav button.owl-prev:focus{
	border: none;
	outline: none;
}
.owl-carousel .owl-nav button.owl-next{
	right: -5%;

}
.owl-carousel .owl-nav button.owl-prev{
	left: -5%;
}
/*********************************************************************************
					Owl Css End
**********************************************************************************/

/**********************************************************************************
					TopBar CSS Start
**********************************************************************************/
.topBar{
	height: 49px !important;
	line-height: 49px !important;
	position: relative;
}
.left-menu li{
	padding-left: 10px !important;
}
.left-menu li:nth-child(1){
	padding-left: 0px !important;
}
.left-menu li a{
	color: white !important;
}
.right-menu-li::after{
	content: "|";
	padding-left: 10px !important;
	padding-right: 10px !important;
	color: #c7c7c7 !important;
}
/**********************************************************************************
					TopBar CSS End
**********************************************************************************/

/**********************************************************************************
					NavBar CSS Start
**********************************************************************************/
.nav_bg{
	background-color: rgba(255,255,255, .7) !important;
}
/**********************************************************************************
					NavBar CSS End
**********************************************************************************/

/**********************************************************************************
					Slider CSS Start
**********************************************************************************/
.position_rel{
	position: relative !important;
}
.position_abs{
	position: absolute !important;
	left: 55% !important;
	top: 30% !important;
}
.position_abs_slide{
	position: absolute;
	top: 0;
	left: 0;
	z-index: -9999;
}
/**********************************************************************************
					Slider CSS End
**********************************************************************************/

/**********************************************************************************
					Princilpe CSS Start
**********************************************************************************/
.principle{
	margin-top: 50%;
}
.letter_space{
	letter-spacing: 2px;
}
.position_relative_aca{
	position: relative;
}
.mt_70{
	margin-top: -40%;
}
.custom_img{
	max-width: 250px !important; 
}
/**********************************************************************************
					Princilpe CSS End
**********************************************************************************/

/**********************************************************************************
					Courses CSS Start
**********************************************************************************/
.list{
	padding:0 !important;
	margin: 0 !important;
	border-top:1px solid #c7c7c7;
}
.list li{
	padding: 10px;
}
.list li a{
	padding: 10px;

}
.list li:nth-child(2){
	border-left: 1px solid #c7c7c7;
	border-right: 1px solid #c7c7c7;
}
.c_body{
	padding: 0;
	margin: 0;
	padding-top: 20px !important;
}
.no-radius{
	border-radius: 0px !important;
}
.card_line{
	width: 135px;
	border-bottom: 2px solid #c7c7c7;
	margin-left: 90px;
}
.card:hover{
	border-color: #56ab2f !important; 
}
/**********************************************************************************
					Courses CSS End
**********************************************************************************/

/**********************************************************************************
					Facts CSS Start
**********************************************************************************/
/**********************************************************************************
					Facts CSS End
**********************************************************************************/

/**********************************************************************************
					Blog CSS Start
**********************************************************************************/
/**********************************************************************************
					Blog CSS End
**********************************************************************************/

/**********************************************************************************
					TESTIMONIAL CSS Start
**********************************************************************************/
/**********************************************************************************
					TESTIMONIAL CSS End
**********************************************************************************/

/**********************************************************************************
					CTA CSS Start
**********************************************************************************/
/**********************************************************************************
					CTA CSS End
**********************************************************************************/

/**********************************************************************************
					Footer CSS Start
**********************************************************************************/
/**********************************************************************************
					Footer CSS End
**********************************************************************************/

/**********************************************************************************
					Responsive CSS Start
**********************************************************************************/
@media only screen and (max-width: 991px) {
	.left-menu li a span{
		display: none;
	}
	.position_abs_slide{
	top: 5%;
}

}
@media only screen and (max-width: 767px) {
	
	.position_abs_slide{
	top: 10%;
}

}
@media only screen and (max-width: 537px) {
	
	.position_abs_slide{
	top: 12%;
}

}
/**********************************************************************************
					Responsive CSS End
*********************************************************************************