/***********************************************************************************
	Project Name: Educafe / LMS;
	Project Start Date: 16-09-2020;
	Project Submission Date: 19-09-2020;
	Client Name: LEDP-2020-WD-D12;
	Author/Developer name:Sahab Uddin;

	**************************************************************
		Total Page:7;
	**************************************************************
			Home Page
		________________
		Total Section
		1.TopBar; 
		2.NavBar;
		3.Slider;
		4.Princilpe;
		5.Courses;
		6.Facts;
		7.Blog;
		8.TESTIMONIAL;
		9.CTA;
		10.Footer;
		_________________
		About Page
		__________________

		1.
		2.

**********************************************************************************/

/**********************************************************************************
					Base CSS Start
**********************************************************************************/
body{
	padding: 0;
	margin: 0;
	font-family: 'Raleway', sans-serif;
}
ul{
	list-style-type: none;
}
a{
	text-decoration: none;
}
::placeholder{
	color: white;
}
/**********************************************************************************
					Base CSS End
**********************************************************************************/
/**********************************************************************************
					Common CSS Start
**********************************************************************************/
.first_color{
	color: #56ab2f !important;
}
.second_color{
	color: #1e1d1d !important;
}
.third_color{
	color: #ffffff !important;
}
.first_bg{
	background-color: #56ab2f !important;
}
.second_bg{
	background-color: #1e1d1d !important;
}
.third_bg{
	background-color: #ffffff !important;
}
.fw600{
	font-weight: 600 !important;
}
.fw700{
	font-weight: 700 !important;
}
.fw800{
	font-weight: 800 !important;
}
.fw900{
	font-weight: 900 !important;
}
.btn{
	border-radius: 0px !important;
}
.primary_btn{
	background-color: #56ab2f !important;
	color: #f1f1f1!important;
}
.secondary_btn{
	border: 1px solid #56ab2f !important;
	color: #56ab2f !important;
}
.secondary_btn:hover{
	background-color: #56ab2f !important;
	color: #f1f1f1!important;
}
.c-font{
	font-family: 'Roboto Slab', serif;
}
.c_f_size{
	/*margin-bottom: 0;*/
	font-size: 14px;
}
.c_border{
	border: 1px solid #56ab2f !important;
}
.border-btn{
	border-bottom: 1px solid #56ab2f !important;
}
/**********************************************************************************
					Common CSS End
**********************************************************************************/

/*********************************************************************************
					Owl Css
**********************************************************************************/
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev{
	position: absolute;
	top: 45%;
	font-size: 45px;
	font-weight: 300;
 }
.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover{
	background: none;
	color: #56ab2f;
}
 .owl-carousel .owl-nav button.owl-next:focus,
.owl-carousel .owl-nav button.owl-prev:focus{
	border: none;
	outline: none;
}
.owl-carousel .owl-nav button.owl-next{
	right: -5%;

}
.owl-carousel .owl-nav button.owl-prev{
	left: -5%;
}
/*********************************************************************************
					Owl Css End
**********************************************************************************/

/**********************************************************************************
					TopBar CSS Start
**********************************************************************************/
/*.topBar{
	height: 49px !important;
	line-height: 49px !important;
	position: relative;
}*/
.left-menu li{
	padding-left: 10px !important;
}
.left-menu li:nth-child(1){
	padding-left: 0px !important;
}
.left-menu li a{
	color: white !important;
}
.right-menu-li::after{
	content: "|";
	padding-left: 10px !important;
	padding-right: 10px !important;
	color: #c7c7c7 !important;
}
/**********************************************************************************
					TopBar CSS End
**********************************************************************************/

/**********************************************************************************
					NavBar CSS Start
**********************************************************************************/
.nav_bg{
	background-color: rgba(255,255,255, .7) !important;
}
/**********************************************************************************
					NavBar CSS End
**********************************************************************************/

/**********************************************************************************
					Slider CSS Start
**********************************************************************************/
.position_rel{
	position: relative !important;
}
.position_abs{
	position: absolute !important;
	left: 55% !important;
	top: 30% !important;
}
/*.position_abs_slide{
	position: absolute;
	top: 0;
	left: 0;
	z-index: -9999;
}*/
/**********************************************************************************
					Slider CSS End
**********************************************************************************/

/**********************************************************************************
					Princilpe CSS Start
**********************************************************************************/
/*.principle{
	margin-top: 50%;
}*/
.letter_space{
	letter-spacing: 2px;
}
.position_relative_aca{
	position: relative;
}
.mt_70{
	margin-top: -40%;
}
.custom_img{
	max-width: 250px !important; 
}
/**********************************************************************************
					Princilpe CSS End
**********************************************************************************/

/**********************************************************************************
					Courses CSS Start
**********************************************************************************/
.list{
	padding:0 !important;
	margin: 0 !important;
	border-top:1px solid #c7c7c7;
}
.list li{
	padding: 10px;
}
.list li a{
	padding: 10px;

}
.list li:nth-child(2){
	border-left: 1px solid #c7c7c7;
	border-right: 1px solid #c7c7c7;
}
.c_body{
	padding: 0;
	margin: 0;
	padding-top: 20px !important;
}
.no-radius{
	border-radius: 0px !important;
}
.card_line{
	width: 135px;
	border-bottom: 2px solid #c7c7c7;
	margin-left: 30%;
}
.card:hover{
	border-color: #56ab2f !important; 
}
/**********************************************************************************
					Courses CSS End
**********************************************************************************/

/**********************************************************************************
					Facts CSS Start
**********************************************************************************/
.facts{
	background: url(../img/home/face_bg.png);
	background-attachment: fixed;
}
/**********************************************************************************
					Facts CSS End
**********************************************************************************/

/**********************************************************************************
					Blog CSS Start
**********************************************************************************/
/**********************************************************************************
					Blog CSS End
**********************************************************************************/

/**********************************************************************************
					TESTIMONIAL CSS Start
**********************************************************************************/
.testimonial{
	background: url(../img/home/test.png);
}
.recent-img{
	max-width: 100px;
	/*margin-top: -15%;
	overflow: visible;*/
	/*text-align: center;*/
	margin-left: 35%;
	display: initial !important;
	margin-bottom: -10%;
}
.recent-card{
	border:  20px solid transparent;
	border-image: url(../img/home/border.png) 60% round;
	border-top: none;
}
/**********************************************************************************
					TESTIMONIAL CSS End
**********************************************************************************/

/**********************************************************************************
					CTA CSS Start
**********************************************************************************/
.s_email{
	width: 40%;
	font-size: 20px;
	border: 1px solid #fff !important; 
	padding: 10px;
	background: transparent;
}
.s_email:focus{
	outline: none;
}
.submit{
	background: #fff;
	margin-left: 5px;
}
/**********************************************************************************
					CTA CSS End
**********************************************************************************/

/**********************************************************************************
					Footer CSS Start
**********************************************************************************/
.footer{
	background: #000;
}
.footer-list{
	padding-left: 0px !important;
	margin-left: 0px !important;
}
.footer-list li{
	color: white;
}
.footer-link{
	padding-left: 0px !important;
	margin-left: 0px !important;
	padding-top: 30px !important;
}
.footer-link li a{
	color: white;
}
.footer-link li a i{
	color: #56ab2f !important; 
}
.footer-bottom{
	border-top: 1px solid #56ab2f !important; 
	padding-top: 20px;
	margin-top: 20px;
}
.footer-so li{
	height: 30px;
	width: 30px;
	border: 1px solid #fff;
	border-radius: 50%;
	line-height: 30px;
	text-align: center;
	margin-left: 5px;
}
.footer-so li a{
	color: white;
}
.footer-so li:hover a{
	color: #56ab2f !important; 
}
/**********************************************************************************
					Footer CSS End
**********************************************************************************/
/**=================================================================================================*******
									About Page CSS Start 
***=================================================================================================********/
/**********************************************************************************
					bradcrumb CSS Start
**********************************************************************************/
.bradcrumb{
	background: url(../img/about/bradcamp.png);
	background-attachment: fixed;
	/*background-position: center;*/
	/*background-size: cover;*/
	background-repeat: no-repeat;
}
.about_ancor:hover{
text-decoration: none;
}
.about_home::after{
	content: "/";
	color: white;
	padding-left: 5px;
}
.teacher_about_so {
	padding-left: 10px !important;
	padding-right: 10px !important;
	padding-top: 10px;
	padding-bottom: 10px;
}
.teacher_about_so li{
	height: 40px;
	width: 40px;
	border: 1px solid #fff;
	border-radius: 50%;
	line-height: 40px;
	text-align: center;
	margin-top: 26%;
	margin-bottom: 27%;
}
.teacher_about_so li:hover{
	background: white;
}
.teacher_about_so li a{
	color: white;
}
.teacher_about_so li:hover a{
	color: #56ab2f !important; 
}
.po_rel{
	position: relative;
	overflow: hidden;
}
.overlay_card{
	position: absolute;
	top: 0;
	right: -120%;
	transition: .5s ease-out;
	/*height: 55% !important;*/
	overflow: hidden;
}
.po_rel:hover .overlay_card{
	right: 0;
	transition: .5s ease-in;
	overflow: hidden;
}
/**********************************************************************************
					bradcrumb CSS End
**********************************************************************************/
/**=================================================================================================*******
									About Page CSS End 
***=================================================================================================********/

/**********************************************************************************
					Responsive CSS Start
**********************************************************************************/
@media only screen and (max-width: 991px) {
	.left-menu li a span{
		display: none;
	}
	.position_abs_slide{
	top: 5%;
}

}
@media only screen and (max-width: 767px) {
	
	.position_abs_slide{
	top: 10%;
}

}
@media only screen and (max-width: 537px) {
	
	.position_abs_slide{
	top: 12%;
}

}
@media only screen and (max-width: 1024px) {
	.teacher_about_so{
		margin-bottom: 0px !important;
	}
	.teacher_about_so li{
	
	margin-top: 13%;
	margin-bottom: 13%;
}

}
@media only screen and (max-width: 768px) {
	
	.teacher_about_so li{
	
	margin-top: 60%;
	margin-bottom: 60%;
}
}
@media only screen and (max-width: 540px) {
	
	.teacher_about_so li{
	
	margin-top: 142%;
	margin-bottom: 148%;
}
}
@media only screen and (max-width: 375px) {
	
	.teacher_about_so li{
	
	margin-top: 69%;
	margin-bottom: 70%;
}
}
@media only screen and (max-width: 360px) {
	
	.teacher_about_so li{
	
	margin-top: 60%;
	margin-bottom: 63%;
}

}

/**********************************************************************************
					Responsive CSS End
*********************************************************************************